.add-product-heading {
	text-align: center;
	margin-top: 3em;
}

.add-product-container {
	display: flex;
	justify-content: center;
	margin-top: 2em;
	padding: 1em;
}

.add-form {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 1.5em 0.5em;
}

.name-container {
	grid-column: 2 / span 3;
	grid-row: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 4em;
	position: relative;
}

.add-product-name {
	grid-column: 1;
	grid-row: 1;
	display: flex;
	align-self: center;
	justify-self: flex-end;
}

.add-product-price,
.add-product-image {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.add-product-name-input {
	border-radius: 0.6em;
	border: 1px solid #CFCCCC;
	box-shadow: 2px 3px 4px #00000025;
	height: 2em;
	font-size: 1em;
	padding-left: 0.5em;
	max-width: 20em;
}

.invalid-message {
	color: #ff0000;
	width: 90%;
	position: absolute;
	top: 55px;
	left: 10px;
}

.price-container {
	grid-column: 2 / span 3;
	grid-row: 2;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 4em;
	position: relative;
}


.add-product-price-input {
	border-radius: 0.6em;
	border: 1px solid #CFCCCC;
	box-shadow: 2px 3px 4px #00000025;
	height: 2em;
	font-size: 1em;
	padding-left: 0.5em;
	max-width: 20em;
}

.img-container {
	grid-column: 2 / span 3;
	grid-row: 3;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 4em;
	position: relative;
}

.add-product-image-input {
	grid-column: 2 / span 3;
	grid-row: 3;
	border-radius: 0.6em;
	border: 1px solid #CFCCCC;
	box-shadow: 2px 3px 4px #00000025;
	height: 2em;
	font-size: 1em;
	padding-left: 0.5em;
	max-width: 20em;
}

.description-container {
	grid-column: 2 / span 3;
	grid-row: 4;
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 6em;
	position: relative;
	margin-top: 1em;
}

.add-product-description {
	grid-column: 1;
	grid-row: 4;
	margin-top: 1em;
	display: flex;
	align-items: flex-start;
	justify-content: flex-end;
}

.add-product-description-input {
	border-radius: 0.6em;
	border: 1px solid #CFCCCC;
	box-shadow: 2px 3px 4px #00000025;
	font-size: 1em;
	padding-left: 0.5em;
	max-width: 20em;
	height: 10em;
}

.add-button-container {
	grid-column: 2 / span 2;
	grid-row: 6;
	display: flex;
	justify-content: center;
	position: relative;
	width: 200px;
}

.add-product-button {
	display: flex;
	align-self: center;
	border-radius: 0.5em;
	display: flex;
	justify-self: center;
	justify-content: center;
	align-items: center;
	border: none;
	padding: 0.5em;
	font-size: 1em;
	width: 6em;
	background-color: #1979e6;
	color: #f3efef;
	transition: all 0.6s;
	box-shadow: 2px 3px 4px #00000025;
}

.add-product-button:hover {
	cursor: pointer;
	background-color: #1565c0;
	transform: scale(0.95);
	box-shadow: 1px 2px 3px #00000050;
}

.fail-to-add {
	position: absolute;
	color: #ff0000;
	font-size: 1em;
	left: 0;
	right: 0;
	top: 3em;
	margin: 0 auto;

}