.header-container {
	display: flex;
	justify-content: space-around;
	border: 1px solid black;
	height: 5rem;
	align-items: center;
}

.header-login {
	font-size: 1.2em;
}

.header-heading {
	font-size: 3em;
	text-decoration: none;
}

.header-icon {
	width: 2em;
}

.empty-space {
	display: flex;
	justify-content: center;
	width: 68.8px;
}

.header-login:hover,
.header-heading:hover,
.header-icon:hover {
	cursor: pointer;
}