* {
	color: #161616;
	box-sizing: border-box;
	margin: 0;
	scroll-behavior: smooth;
}

body {
	background: linear-gradient(to right, #dbfceb, #d2e8fa) ;
}

.to-top {
	position: fixed;
	bottom: 100px;
	right: 20px;
	z-index: 2;
	width: 5em;
	height: 2.5em;
}

.to-top:hover {
	cursor: pointer;
}