.search-container {
	display: flex;
	justify-content: center;
	margin-top: 3em;
}

.search-input {
	border-radius: 0.6em;
	border: 1px solid #CFCCCC;
	box-shadow: 2px 3px 4px #00000025;
	height: 2em;
	width: 18em;
	font-size: 1em;
	padding-left: 0.5em;
}

.filter-container {
	display: flex;
	justify-content: center;
	margin: 2em 0;
}

.flex-container {
	display: flex;
	align-items: center;
	border-radius: 0.6em;
	border: 1px solid #CFCCCC;
	box-shadow: 2px 3px 4px #00000025;
	background-color: #FBF8F8;
	height: 2em;
	width: 18em;
	justify-content: space-around;
	padding: 0 1em 0 1em;
}

.filter {
	height: 100%;
	display: flex;
	align-items: center;
	border-right: 2px solid #808080;
	padding-right: 0.5em;
}

.arrow {
	width: 2em;
}

.filter-label {
	display: flex;
	align-items: center;
}

.filter-label:nth-child(odd) {
	height: 100%;
	border-left: 2px solid #808080;
	padding-left: 0.5em;
}

.filter-label:hover {
	cursor: pointer;
}
